body{
    font-family:Arial, Helvetica;
    background: #e8e8e8; ;
    padding-top: 70px;
}

.topheader{
    position: fixed;
    box-shadow: 0 10px 10px black;
    background-color: aqua;
    left: 0;
    top: 0;
    width: 100%;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-width: 900px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 70px;
}

.menu{
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    padding: 10px;
    text-transform: uppercase;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.container{
    position: 0 0 0;
    display: flex;
    width: 40%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: cadetblue;
    margin-top: 5vh;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-evenly;
    font-size: 25px;
}
.container img{
    box-shadow: 10px 5px 5px black;
    width: auto;
    height: 350px;
    border-radius: 20px;
}
.datos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}
.datos p{
    width: 50%;
}
@media (min-width:1100px){
    .container{
        width: 90%;
    }
    .container img{
        height: 350px;
    }
}
@media (max-width:1099px){
    .container{
        width: 85%;
    }
    .container img{
        height: 250px;
    }
}

.Estudios{
    position: 0 0 0;
    display: flex;
    width: 40%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: aquamarine;
    margin-top: 5vh;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-evenly;
    font-size: 25px;
}

.Estudios-tittle{
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    padding-bottom: 5%;
    color: black;
    border-bottom: 5px solid black
}

.Estudios img{
    box-shadow: 10px 5px 5px black;
    width: auto;
    height: 350px;
    border-radius: 20px;
}

.conenido-estudio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
    line-height: normal;
}

@media (min-width:1100px){
    .Estudios{
        width: 90%;
    }
    .Estudios img{
        height: 350px;
    }
}
@media (max-width:1099px){
    .Estudios{
        width: 85%;
    }
    .Estudios img{
        height: 100px;
    }
}

.Aficiones{
    position: 0 0 0;
    display: flex;
    width: 40%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color:blueviolet;
    margin-top: 5vh;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-evenly;
    font-size: 25px;
}

.Aficiones-tittle{
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    padding-bottom: 5%;
    color: black;
    border-bottom: 5px solid black
}

.Aficiones img{
    box-shadow: 10px 5px 5px black;
    width: auto;
    height: 350px;
    border-radius: 20px;
}

.conenido-aficiones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
    line-height: normal;
}

@media (min-width:1100px){
    .Aficiones{
        width: 90%;
    }
    .Aficiones img{
        height: 350px;
    }
}
@media (max-width:1099px){
    .Aficiones{
        width: 85%;
    }
    .Aficiones img{
        height: 100px;
    }
}